# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# RStudio files
ModernDive-Master.Rproj
ModernDive\ Master.Rproj

# bookdown output files
*_bookdown_files
ismaykim.log
ismaykim.Rmd
ismaykim.tex
moderndive.log
moderndive.Rmd
moderndive.tex
bib/packages.bib
purl.Rout
#docs/*

# other files
.httr-oauth
*rsconnect/


