# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rbuildignore

# RStudio files
ModernDive-Master.Rproj
ModernDive\ Master.Rproj

# bookdown output files
*_bookdown_files
ismaykim.Rmd
ismaykim.pdf
moderndive.Rmd
moderndive.pdf
*.tex
*.auc
*.aux
*.idx
*.log
*.out
*.toc
# bib/packages.bib
purl.Rout
docs/*

# other files
.httr-oauth
*rsconnect/
copy_pdf_to_google_drive.R


