#*docs/
.Rproj.user
.Rhistory
.RData
.Ruserdata
*placeholder.html
.httr-oauth
*_bookdown_files
ModernDive-Master.Rproj
ModernDive\ Master.Rproj
*docs-devel/
.DS_Store
*rsconnect/
purl.Rout
ismaykim.log
#bib/packages.bib
