<script async src="https://www.googletagmanager.com/gtag/js?id=G-YVFBK9P73R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YVFBK9P73R');
</script>

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="ModernDive V2" />
<meta property="og:description" content="An open-source and fully-reproducible electronic textbook for teaching statistical inference using tidyverse data science tools." />
<meta property="og:image" content="https://moderndive.com/v2/images/logos/v2_cover.jpg" />
<meta property="og:url" content="https://moderndive.com/v2/" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Set up favicon -->
<link rel="icon" href="images/logos/favicons/favicon.ico" type="image/x-icon">

<!-- Redirect to ModernDive V2 -->
<script>
  if (window.location.pathname === '/v2') {
    window.location.replace(window.location.pathname + '/');
  }
</script>
