<script async src="https://www.googletagmanager.com/gtag/js?id=G-YVFBK9P73R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YVFBK9P73R');
</script>

<!-- Set up favicon -->
<link rel="icon" href="images/logos/favicons/favicon.ico" type="image/x-icon">

<!-- Redirect to ModernDive V2 -->
<script>
  if (window.location.pathname === '/v2') {
    window.location.replace(window.location.pathname + '/');
  }
</script>
