<html>
  <img src='https://moderndive.com/wide_format.png' alt="ModernDive" style="width: 100%; max-width: 100%;">

  <div id="border-box-container" class="border-box" style="display: none;">
    <div class="text-image-container" style="display: flex; flex-wrap: wrap; align-items: center; gap: 10px;">
      <div class="text" style="flex: 1;">
        This version isn't the most recent version of the book. We recommend the Second Edition at
        <a href="https://moderndive.com/v2/">https://moderndive.com/v2/</a>, which was finalized in Fall 2024 to be published as a hard copy in early 2025 by CRC Press.
        You can find a summary of the updates in the Second Edition
        <a href="https://moderndive.com/v2/preface.html#about-the-book">here</a>.
      </div>
      <div class="image" style="flex: 0 1 250px; max-width: 100%;">
        <a href="https://moderndive.com/v2/">
          <img src="images/logos/v2_cover.jpg" alt="Second Edition website" style="width: 100%; height: auto;"/>
        </a>
      </div>
    </div>
  </div>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the current URL path
    var path = window.location.pathname;

    // Check if on main page ("/") or index.html
    if (path === "/" || path.endsWith("index.html")) {
      // Display the border-box
      document.getElementById("border-box-container").style.display = "block";
    }
  });
</script>
