.learncheck {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #9ED3AD 5px center/3em no-repeat;
}

.announcement {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #F6D328 5px center/3em no-repeat;
}

.review {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #9ED3AD 1px center/1em no-repeat;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
